{% extends 'home/base.html' %}
{% load static %}

{% block content %}

{% if user.is_autenticated %}
    <p>{{mensaje}}</p>
{% endif %}


{% if user.is_staff %}
    <p><a href="{% url 'admin:index' %}" class="btn btn-secondary">Administracion</a> 
    <a href="{% url 'home:register' %}" class="btn btn-secondary">Registrar Nuevo Empleado</a></p>
{% endif %}

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/image/SYE.jpg' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">S&E</h1>
            <p>Somos una pequeña empresa familiar que ofrece diferentes productos para surtir tu dietetica. Tenemos un gran equipo comercial distribuido por todo el AMBA. Ademas ofrecemos con un servicio de entrega de 48hs para todo CABA y Zona Oeste.</p>
            <a class="btn btn-primary" href="https://wa.me/5491124701222">Contactanos!</a>
        </div>
    </div>
    <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Nuestro labor es llevarle la mejor calidad de productos para su negocio!</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Yogurade</h2>
                            <p class="card-text">Es un yogur hiperprotéico que alimenta tus músculos y calma tus ganas de comer.La proteína láctea es un componente ideal para  la recuperación muscular.¡Te aporta 4 a 5 veces más proteínas  que un yogur común!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.yogurade.com.ar/inicio">Pagina Oficial</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">NotCo</h2>
                            <p class="card-text">Tenemos los productos más ricos que probarás, ya que son como los alimentos de origen animal, con el mismo aroma, sabor, textura, funcionalidad y nutrición... pero hechos solo en base a lo mejor de las plantas.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://notco.com/ar/">Pagina Oficial</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Kamar</h2>
                            <p class="card-text">KAMAR es una empresa tucumana con una trayectoria de siete años. La cual elavora un hummus o puré de garbanzos cocidos y condimentados, de suave sabor, en base a recetas tradicionales.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.kamar.com.ar/index.php">Pagina Oficial</a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}