{% extends 'home/base.html' %}

{% block content %}

    <div class="container">
        <h1>PRODUCTOS</h1>
            {% block contenido_de_producto %}
                <h3>Categorias de Productos</h3>
                <div style="display: inline-block;">
                    {% if user.is_staff %}
                    <a href="{% url 'producto:producto_categoria_create' %} " class="btn btn-secondary">Crear</a>
                    {% endif %}
                    <a href="{% url 'producto:producto_categoria_list' %}" class="btn btn-secondary">Listar</a>
                </div> 
            {% endblock contenido_de_producto %}
    </div>
{% endblock content %}